<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>bike-ground</title>
  <!-- <link rel="stylesheet" href="styles.css"> -->
  <!-- <script src="https://unpkg.com/vue"></script> -->
  <!-- import CSS -->
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
  <!-- import JavaScript -->
  <!-- <script src="https://unpkg.com/element-ui/lib/index.js"></script> -->
</head>

<body>

  <div id="app">
    <el-button @click="visible = true">Button</el-button>
    <el-dialog :visible.sync="visible" title="Hello world">
      <p>Try Element</p>
    </el-dialog>
  </div>

  <div id="app">
    {{ message }}
  </div>

  <div id="app2">
    <span v-bind:title="message">
      Наведи курсор на меня на 2 секунды
    </span>
  </div>

  <div id="app3">
    <span v-if="seen">
      Меня видно ?
    </span>
  </div>

  <div id="app4">
    <span v-if="seen">
      <ol>
        <li v-for="namePunkt in punkts">
          {{ namePunkt.text }}
        </li>
      </ol>
    </span>
  </div>

  <script>
    var app = new Vue({
      el: '#app',
      data: {
        message: 'hello world!'
      }
    })


    let promiseFirst = new Promise(function(resolve, reject) {
      setTimeout(() => {
        let user = {
          name: "name",
          surname: "surname",
          fullName: function(hobby) {
            alert(hobby);
            return this.name + this.surname;
          },
          isAdmin: false,
        }
        resolve(user);
      }, 3000);
    });
    promiseFirst.then(
      user => {
        for (let key in user) {
          alert(key);
        }
        let maxim = Object.create(user);
        maxim.name = "Ma";
        maxim.surname = "Xim";
        let fnMaxim = user.fullName.bind(maxim);
        fnMaxim("Tennis");
        alert(maxim);
      },
      error => alert(error)
    )


    let promiseSecond = new Promise((resolve, reject) => {
      setTimeout(() => {
        alert("After 3 sec...");
        resolve("1 step done");
      }, 3000);
    });

    promiseSecond.then(
      result => {
        alert(result);
        setTimeout(() => {
          alert("After 3 sec after 1 step");
        }, 3000)
      },
      error => alert(error)
    ).then()
  </script>

</body>

<!-- import Vue before Element -->
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <!-- import JavaScript -->
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
  <script>
    new Vue({
      el: '#app',
      data: function() {
        return { visible: false }
      }
    })
  </script>

</html>
